header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 500;
}

.box {
    height: 10rem;
    display: block;
    box-shadow: 5px 5px 5px grey;
    /*background-image: url(assets/space.jpg);
    min-height: 100%;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.blue {
    background-color: rgb(0, 0, 90);
}

a {
    font-size: 18pt;
    color: white;
    margin-right: 20px;
}

#foot {
    color: white;
}

.bodyContent {
    padding: 2em;
    background-image: url(assets/space2.jpg);
    /*min-height: 100%;*/
    background-attachment: scroll !important;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    width: 100%;
}

h1 {
    text-align: center;
    padding-top: 10px;
    font-size: 44pt;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}

#tab {
    display: flex;
    float: inline-end;
    list-style-type: none;
    color: white;
    margin-top: -60px;
}

.profilePic {
    height: 500px;
    width: 500px;
    box-shadow: 5px 5px 5px grey;
}

#teaching{
    height: 500px;
    width: 500px;
    box-shadow: 5px 5px 5px grey;
    margin-right: 40px;
}

p {
    font-size: 13.6pt;
    color: white;
}

.seattleCascades img:hover{
    transition: ease-in-out 300ms;
    opacity: 0.5;
}

.legacyIndoor img:hover{
    transition: ease-in-out 300ms;
    opacity: 0.5;
}

.seattleCascades:hover .cascadesText {
    opacity: 1;
}

.cascadesText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    text-align: center;
}

.legacyText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Can't get the pictures to be in columns. Can't get the text to disapear
when not hovered. Can't get rest of page to be image instead of white. */

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/transform */

.css_creature {
    margin-top: 30rem;
}

.redBadgeProject {
    margin-top: 30rem;
}

.blueBadgeProject {
    margin-top: 30rem;
}

footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    background-color: #192543;
}